.App {
  text-align: center;
  
 
}


.navbar {
  color: rgb(250, 249, 249);
  padding: 5px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-image: url('https://images.unsplash.com/photo-1476231682828-37e571bc172f?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1548&q=80');
  background-repeat: no-repeat;
  object-fit: cover;
  height: 55px;
  font-size: 25px;
  font-family: 'Roboto Condensed', sans-serif;
}

.navbar a {
  color: rgb(249, 235, 112);
  padding: 10px;
  text-decoration: none;
  font-family: 'Roboto Condensed', sans-serif;
}

h1 {
  font-family: 'Anek Kannada', sans-serif;
  font-size: 50px;
  letter-spacing: 8px;
  padding: 10px;
  margin: 30px;
  color: rgb(244, 238, 211);
  height: 100px;
  background-image: url('https://images.unsplash.com/photo-1500829243541-74b677fecc30?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1752&q=80');
  background-repeat: no-repeat;
  object-fit: cover;

  
  
}

.nav-item:hover {
  color: rgb(217, 244, 245);
}

img {
  border: 5px solid rgb(247, 213, 59);
  padding: 10px;
  margin: 10px;
  box-shadow: 0px 2px 10px 3px rgba(162, 165, 165, 0.8);
}

.view {
  border: 5px solid rgb(247, 213, 59);
  font-family: 'Roboto Condensed', sans-serif;
  padding: 10px;
  text-decoration: none;
  color: black;
  font-size: 20px;
}